
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: break-word;
	letter-spacing: var(--spacing);
}
 body { 
	font-family: var(--ff-secondary);
	background: var(--clr-grey-9);
	color: var(--clr-primary-1);
	font-size: 0.88rem;
	display: grid;
	place-items: center;
	height: 100vh;
	overflow-y: auto;
	text-transform: capitalize;
}

#container {
	height: auto;
	width: auto;
}

#start {
	height: 60px;
	width: 200px; 
	text-align: center;
	padding: 20px 0;
	background: #e7f1fa;
	font-weight: 700;
	border-radius: 70px 0px;
	border: 5px solid #b0c4d8;
	cursor: pointer;
}

#start:hover {
	background: #ff5235;
	color: #e7f1fa;

}

#guide,
#quiz {
	display: none;
	height: auto;
	width: 310px;
	padding: 20px;
	background: #e7f1fa;
	border-radius: 30px 10px;
	border: 1px solid #b0c4d8;
}

#guide h2 {
	color: #ff5235;
}

#guide h4 {
	line-height: 1.8;
	width: 100%;
	display: flex;
	align-items: center;
}

#guide div#button {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#guide div#button button {
	height: 40px;
	width: 90px;
	margin: 10px;
	outline: none;
	background: #ff5235;
	color: #e7f1fa;
	border-radius: 50px 2px;
	border: 2px solid #b0c4d8;
	cursor: pointer;
}

#guide div#button button:hover {
	background: #e91e3a;
}

/* quiz section */

#quiz {
	height: 440px;
	position: relative;
}

#quiz #quiz_header {
	height: 60px;
	width: 100%;
	background: #fafafc;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px 5px;
	padding: 0 20px;
}

#quiz #quiz_header h5 {
	color: #ff5235;
	font-size: 0.9rem;
}

#quiz #quiz_header #timer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	width: 140px;
	background: #ff5235;
	color: #e7f1fa;
	border-radius: 40px 2px;
	border: 2px solid #b0c4d8;
}

h6:not(#time) {
	padding: 0 0 0 10px;
}

#quiz #quiz_header #timer h6#time {
	padding: 0px 12px;
	margin: 0 10px 0 0;
	background: #fff;
	color: #f69d9e;
	border-radius: 20px 2px;
	font-size: 1rem;
	border: 1px solid #b0c4d8;
}

/* Quiz questions */

#quiz #question {
	position: absolute;
	top: 85px;
	display: flex;
}

#quiz #question h3:first-child {
	margin: 0 10px 0 5px;
}

#quiz #optionList {
	width: 100%;
	position: absolute;
	top: 150px;
}

#quiz #optionList h4 {
	line-height: 2.5;
	width: 93%;
	background: #fc9e8d;
	overflow: hidden;
	margin: 7px 0px;
	border-radius: 40px 2px;
	padding: 0 10px;
	border: 2px solid #b0c4d8;
	cursor: pointer;
}

#quiz #optionList h4:hover {
	background: #e91e3a;
}
#quiz #optionList .active {
	background: #e91e3a;
}
#quiz #optionList .disabled {
	pointer-events: none;
}


/* Answer section */

#quiz #answersSection {
	height: 60px;
	width: 100%;
	background: #fafafc;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px 30px 30px 10px;
}

#quiz #answersSection h3 {
	margin: 0px 20px;
	font-size: 0.96rem;
}

#quiz #answersSection h3:first-child {
	visibility: hidden;
}

#quiz #answersSection h3:last-child {
	background: #e7f1fa;
	color: #ff5235;
	width: 100px;
	text-align: center;
	padding: 5px 0;
	border-radius: 40px 2px;
	border: 3px solid #b0c4d8;
	cursor: pointer;
}

#quiz #answersSection h3:last-child:hover {
	background: #e91e3a;
	color: #e7f1fa;
}

/* results */

#container #result {
	height: 400px;
	width: 300px;
	text-align: center;
	background: #e7f1fa; 
	border-radius: 30px 10px;
	border: 1px solid #b0c4d8;
	position: relative;
	overflow: hidden;
	display: none;
}

#container #result i {
	font-size: 120px;
	color: #e91e3a;
	position: absolute;
	top: 20px;
	width: 100%;
	display: grid;
	place-items: center;
}

#container #result h6 {
	width: 100%;
	margin-left: 0;
	position: absolute;
	top: 200px;
	text-align: center;
	font-size: 1.1rem;
}

#container #result #points {
	top: 245px;
}

#container #result button {
	height: 45px;
	width: 90%;
	outline: none;
	background: #fc9e8d;
	color: #e7f1fa;
	border-radius: 40px 2px;
	border: 2px solid #b0c4d8;
	cursor: pointer;
	text-transform: capitalize;
	position: absolute;
	bottom: 70px;
	left: 50%;
	translate: -50%;
}

#container #result button:last-child {
	bottom: 20px;
}

#container #result button:hover {
	background: #e91e3a;
}

@media screen and (min-width: 450px) {
	#guide,
	#quiz, #container #result {
		width: 480px;
	}
}

@media screen and (min-width: 620px) {
	h2 {
		font-size: 2rem;
	}

	h5 {
		font-size: 1.6rem !important;
	}

	#guide h4 {
		line-height: 2;
	}

	#container #result h6 {
		font-size: 1.3rem !important;
	}

	body {
		font-size: 1.05rem;
	}

	#guide,
	#quiz, #container #result {
		width: 580px;
		padding: 20px;
		margin: 0;
	}

	button {
		width: 200px !important;
	}
}